p.test
{ font-size: 40px;
  font-weight: bold;
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #ededed;
}


.rotating {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
  animation-name: preloader;

  &:nth-of-type(1) {
    stroke-dasharray: 550px;

  }

  &:nth-of-type(2) {
    stroke-dasharray: 500px;
  }

  &:nth-of-type(3) {
    stroke-dasharray: 450px;
  }

  &:nth-of-type(4) {
    stroke-dasharray: 300px;
  }

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: -#{$i * 0.22}s;
    }
  }
}

.bouncingIn {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
  animation-name: bounceIn;
  stroke-dasharray: 1000px;
  animation-duration: 5s;

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: -#{$i * 0.15}s;
    }
  }
}


circle  {
  fill: none;
  stroke-width: 7;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.99, 0.13, 0.3, 1.06);
  transform-origin: 200px 200px;
  will-change: transform;
}


@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  70% {
    transform: scale(1);
  }
}